<section class="p-4 onboarding-flow">
  <ng-container *ngComponentOutlet="currentComponent()"></ng-container>
  <lib-step-dots [index]="currentStep()" classes="w-full" (onChange)="stepChanges($event)"></lib-step-dots>

  
  <section class="w-full absolute bottom-0 left-0">
    <section class="w-[95%] m-auto">
      <ion-button color="dark" size="large" class="w-full" (click)="loginWith(loginProvider.Email)">
        <ion-icon src="assets/svgs/login.svg" slot="start" size="large" class="mr-2"></ion-icon>
        <span>Continue with E-mail</span>
      </ion-button>

      <section class="flex gap-x-4 mt-4 mb-4">
        <ion-button size="medium" color="dark" class="w-full flex items-center justify-center"
          (click)="loginWith(loginProvider.Apple)">
          <ion-icon src="assets/svgs/apple.svg" slot="start" size="large"></ion-icon>
          <span>Apple</span>
        </ion-button>
        <ion-button size="medium" color="dark" class="w-full flex items-center justify-center"
          (click)="loginWith(loginProvider.Google)">
          <ion-icon src="assets/svgs/google.svg" slot="start" size="large"></ion-icon>
          <span>Google</span>
        </ion-button>

        <ion-button size="medium" color="dark" class="w-full flex items-center justify-center"
          (click)="loginWith(loginProvider.Facebook)">
          <ion-icon src="assets/svgs/facebook.svg" slot="start" size="large"></ion-icon>
          <span>Facebook</span>
        </ion-button>
      </section>
    </section>
  </section>

</section>