<section class="w-full absolute bottom-0 left-0">
  <section class="w-full m-auto flex flex-col gap-y-4 p-4">
    <ion-button shape="round" color="light" size="large" class="w-full"
      (click)="actionChanges.emit(loginProvider.Email)">
      <ion-icon src="assets/svgs/login.svg" slot="start" size="large" class="mr-2"></ion-icon>
      <span>Continue with E-mail</span>
    </ion-button>
    <section class="flex gap-x-4 justify-between gap-y-2">
      <ion-button shape="round" size="medium" color="light" (click)="actionChanges.emit(loginProvider.Google)">
        <ion-icon src="assets/svgs/google.svg" slot="start" size="large"></ion-icon>
        <span>Google</span>
      </ion-button>

      <ion-button shape="round" size="medium" color="light" (click)="actionChanges.emit(loginProvider.Facebook)">
        <ion-icon src="assets/svgs/facebook.svg" slot="start" size="large"></ion-icon>
        <span>Facebook</span>
      </ion-button>
    </section>
    <section class="text-center">
      <span class="text-xs text-center" style="color: var(--blue-40)">
        By continuing you agree Terms of Services & Privacy Policy
      </span>
    </section>
  </section>

</section>