// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --main-gradient: linear-gradient(#6B73FF 0%, #454FFF 24%, #000DFF 100%) !important;
    --black-100: #040415 !important;
    --white-100: #ffffff !important;
    --white-80: #CDCDD0 !important;
    --white-10: #EAECF0;
    --white-50: #F6F9FF;
    --blue-80: #6069FF !important;
    --blue-60: #888EFF !important;
    --blue-40: #AFB4FF;
    --blue-100: #3843FF !important;
    --ion-color-primary: #3843FF !important;
    // --ion-color-primary-contrast: #040415 !important;
}