// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --main-gradient: linear-gradient(#6B73FF 0%, #454FFF 24%, #000DFF 100%) !important;
    --black-100: #040415 !important;
    --white-100: #ffffff !important;
    --white-80: #CDCDD0 !important;
    --white-10: #EAECF0;
    --white-50: #F6F9FF;
    --blue-80: #6069FF !important;
    --blue-60: #888EFF !important;
    --blue-100: #3843FF !important;
    --ion-color-primary: #3843FF !important;
    --ion-color-primary-contrast: #040415 !important;



}

ion-button {
    --border-radius: 30px !important;
    border-radius: 30px !important;


    // transition: opacity 0.3s ease, background-color 0.3s ease !important;

    // &.primary {
    //     background: var(--blue-100) !important;
    //     color: var(--white-100) !important;

    //     &:focus {
    //         background: var(--blue-80) !important;
    //     }
    // }

    // &.secondary {
    //     background-color: var(--white-100);
    //     color: var(--black-100);

    //     &:focus {
    //         background-color: var(--white-80)
    //     }
    // }

    // &.outline {
    //     background: var(--white-100);
    //     color: var(--black-100);

    //     border: 1px solid var(var(--white-80));
    // }

}