@import "tailwindcss";

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';



:root {
    --main-gradient: linear-gradient(#6B73FF 0%, #454FFF 24%, #000DFF 100%);
    --black-100: #040415;
    --white-100: #ffffff;
    --white-80: #CDCDD0;
    --blue-80: #6069FF;
    --blue-60: #888EFF;
    --blue-100: #3843FF;
    --ion-color-primary: #3843FF;
    --ion-color-primary-contrast: #040415;


    ion-button {
        --border-radius: 30px !important;
        border-radius: 30px !important;


        // transition: opacity 0.3s ease, background-color 0.3s ease !important;

        // &.primary {
        //     background: var(--blue-100) !important;
        //     color: var(--white-100) !important;

        //     &:focus {
        //         background: var(--blue-80) !important;
        //     }
        // }

        // &.secondary {
        //     background-color: var(--white-100);
        //     color: var(--black-100);

        //     &:focus {
        //         background-color: var(--white-80)
        //     }
        // }

        // &.outline {
        //     background: var(--white-100);
        //     color: var(--black-100);

        //     border: 1px solid var(var(--white-80));
        // }

    }
}

body {}